graft src/renocopro
graft docs
include *.rst
global-exclude *.pyc
include *.GPL
exclude .gitlab-ci.yml
exclude .pre-commit-config.yaml
exclude requirements.txt
exclude Gruntfile.js
exclude Makefile
exclude package.json
