body.template-facetednavigation_view{
	.faceted-form{
		display: flex;
		flex-direction: column;
		.faceted-clear,
		.faceted-sections-buttons,
		#right-area,
		#bottom-area{
			display: none;
		}
	}
	.eea-preview-items{
		border: 1px solid @color-medium;
		padding: 1rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.faceted-casestudies,
		.faceted-professional{
		        border-bottom: 1px dashed @color-medium;
			padding: 2rem 0;
			width: 49%;
			a{
				&:hover,
				&:active,
				&:focus{
					text-decoration: none;
				}
				.items-content{
					display: flex;
				}
				.image{
					border: 1px solid @color-medium;
					padding: 0.5rem;
					img{
						max-width: 20rem;
						max-height: 20rem;
					}
				}
				.text{
					padding-left: 2rem;
					h4{
						margin-top: 0;
					}
					span,
					.description{
						color: #666;
						display: block;
					}
					.status{
						margin-bottom: 0.5rem;
					}
					ul{
						padding-left: 1.5rem;
					}
				}
			}
		}
	}
	#faceted-top-column{
		background-color: @color-medium;
		padding: 1rem;
		.faceted-default-widgets{
			    display: flex;
			    flex-wrap: wrap;
		}
		fieldset{
			border: none;
			legend{
				margin: 0;
				border: none;
				font-size: 1.6rem;
			}
			select{
				width: 100%
			}
			input[type="submit"]{
				background-color: @color-default;
				color: @color-light;
				text-shadow: none;
			}
			form{
				display: flex;
				.searchButton{
					margin-left: 0.5rem;
				}
			}
		}
	}
}
