#content-header {
	background-color: black;
	display         : flex;
	justify-content : end;
	position        : relative;

	#portal-logo {
		display   : inline-block;
		box-shadow: 1px 4px 7px #bcbcbc;
		height    : 15rem;
		width     : 15rem;
		position  : absolute;
		margin    : 0 0 0 4rem;
		background: @color-light;
		text-align: center;
		z-index   : 1;
		top       : 0;
		left      : 0;

		img {
			display   : inline-block;
			max-width : 100%;
			max-height: 100%;
			margin-top: 50%;
			transform : translateY(-50%);
		}
	}

	#mainnavigation-wrapper {
		flex        : 1;
		padding-left: 20rem;
		text-align  : right;

		#display_menu_button,
		#display_menu_label {
			display: none;
		}

		#mainnavigation {
			height: 100%;

			ul {
				padding        : 0;
				margin         : 0;
				height         : 100%;
				display        : flex;
				align-items    : center;
				justify-content: space-around;

				li {
					display: inline-block;

					a {
						margin: 1.5rem 0.5rem;
					}
				}
			}
		}
	}

	#search-wrapper {
		#hidden-search {
			height: 100%;

			#searchbox {
				height: 100%;

				#searchGadget_form {
					height: 100%;

					.LSBox {
						display     : flex;
						height      : 100%;
						align-items : center;
						margin-right: 1rem;

						#searchGadget {
							height : auto;
							padding: 0.2rem;
							opacity: 0;
						}

						.livesearch-results {
							opacity: 0;
						}

						.searchSection {
							display: none;
						}

						.searchButton {
							color           : transparent;
							background-color: transparent;
							width           : 3rem;
							padding         : 0;
							height          : 100%;
							z-index         : 2;
							text-shadow     : none;
							box-shadow      : none;
						}

						&::after {
							color      : @color-light;
							content    : "\f002";
							font-weight: 900;
							font-family: "Font Awesome 5 Free";
							z-index    : 1;
							margin-left: -2rem;
						}
					}

					&:hover,
					&:focus,
					&:active {

						#searchGadget,
						.livesearch-results {
							opacity: 1;
						}
					}

					.livesearch-results {
						h4 {
							margin: 0;
						}

						a {
							color : @color-dark;
							margin: 0;
						}

						p:empty {
							display: none;
						}
					}
				}
			}
		}
	}

	#portal-anontools {
		padding: 0;
		margin : 0;

		ul {
			height : 100%;
			padding: 0;
			margin : 0;

			li {
				height     : 100%;
				margin     : 0;
				display    : flex;
				align-items: center;
			}
		}
	}

	a {
		color : @color-light;
		margin: 1.5rem 3rem;

		&:hover,
		&:focus,
		&:active {
			color          : @color-default;
			text-decoration: none;
		}
	}
}

@media (max-width: 1200px) {
	#content-header {
		display    : flex;
		align-items: center;

		#portal-logo {
			height: 10rem;
			width : 10rem;
			margin: 0;
			top   : 0;
			z-index: 3;
		}

		#portal-anontools {
			margin-left: auto;
			align-self : start;
			li{
				a{
					margin: 1.5rem 0.5rem;
				}
			}
		}

		#mainnavigation-wrapper {
			padding  : 0;
			order    : 1;
			font-size: 2rem;
			flex     : 0;
			margin   : 0;

			#display_menu_label {
				display        : inline-flex;
				color          : transparent;
				font-size      : 3rem;
				justify-content: end;
				margin         : 0;
				width          : 3rem;
				height         : 3rem;
				overflow       : hidden;
				padding        : 0;
				position       : relative;
				text-align     : right;
				margin         : 1rem;

				&::after {
					color      : @color-light;
					cursor     : pointer;
					content    : "\f0c9";
					font-weight: 900;
					font-family: "Font Awesome 5 Free";
					position   : absolute;
					top        : 50%;
					left       : 50%;
					transform  : translate(-50%, -50%);
				}
			}

			#mainnavigation {
				display: none;
			}

			#display_menu_label.checked+#mainnavigation {
				display: block;
				position: absolute;
				top: 50px;
				z-index: 2;
				right: 0;

				ul {
					width         : 100%;
					display       : block;
					padding-bottom: 0.5rem;

					li {
						padding   : 0.5rem 1rem 0.5rem 10rem;
						width     : 100%;
						text-align: center;
						background-color: @color-dark;

						a {
							width  : 100%;
							display: inline-block;
							margin : 0;
							font-size: 1.5rem;
						}
					}
				}
			}
		}

		#search-wrapper {
			padding  : 0 0 0 11rem;
			position : absolute;
			right    : 5rem;
			top      : 0.5rem;
			font-size: 2.2rem;
			display  : none;
		}
	}

	#edit-zone a.plone-toolbar-logo {
		bottom: 0;
	}

	body #portal-banner #sponsor {
		height       : 5rem;
		position     : relative;
		text-align   : right;
		margin-bottom: -5rem;
	}

	body #portal-banner .container .banner_container .bannerText {
		display: none;
	}
}