body.portaltype-event{
	#content{
		& > header{
			display: grid;
			grid-template-columns: auto auto;
			grid-template-rows: repeat(3, auto);
			#viewlet-above-content-title{
				grid-row: 1 / span 3;
				grid-column: 2;
			}
			.documentFirstHeading{
				grid-row: 1;
				grid-column: 1;
			}
			#viewlet-below-content-title{
				grid-row: 2;
				grid-column: 1;
			}
			.documentDescription{
				grid-row: 3;
				grid-column: 1;
			}
			.newsImageContainer{
				border-radius: 0;
				box-shadow: none;
			}
		}
		#content-core{
			.summary{
				box-shadow: none;
				float: none;
				margin: 2rem 0 0 0;
			}
		}
	}
}
