.portaltype-professional {

	.label {
		padding    : 0 0.5rem 0 0;
		font-size  : 1.4rem;
		white-space: normal;
	}

	.row {
		padding-bottom: 2rem;
	}

	.col-md-6>ul {
		padding: 0;
	}

	.col-md-3 {
		.box {
			border       : 1px solid @color-default;
			padding      : 3rem;
			margin-bottom: 2rem;

			.label {
				display   : block;
				text-align: left;
				margin    : 2rem 0 0.5rem 0;
			}

			.glyphicon {
				display: none;
			}
		}

		ul {
			list-style: none;
			padding   : 0;
			margin    : 0;
		}
	}

	.gallery-photo {
		.images-preview {
			margin-left: 0;
		}
	}

	.fancybox-container .fullcaption,
	.fancybox-thumbs {
		display         : flex;
		flex-direction  : column;
		width           : 370px;
		padding         : 0 2rem;
		position        : absolute;
		right           : 0;
		top             : 0;
		min-height      : 100%;
		background-color: @color-light;

		.caption {
			overflow-y : auto;
			height     : auto;
			flex       : 1;
			font-family: 'Open Sans', sans-serif;
		}

		ul {
			height: auto !important;
		}

		h3 {
			color: @color-default;
		}

		label {
			padding    : 1rem 0.5rem 0 0;
			font-size  : 1.4rem;
			white-space: normal;
		}
	}

	[id^="fancybox-container-"] .fancybox-inner,
	.fancybox-show-thumbs .fancybox-inner {
		right: 370px;
	}
}

#content-core .buttons-professionnal {
	display: flex;
	flex-wrap: wrap;

	a.button-professionnal {
		background-color: @color-default;
		color           : @color-light  !important;
		font-family     : "Abel", sans-serif;
		justify-content : center;
		align-items     : center;
		padding         : 1rem 2rem;
		display         : inline-flex;
		font-size       : 2.4rem;
		margin-bottom   : 0.5rem;

		&.search::before,
		&.register::before {
			content            : " ";
			display            : inline-block;
			margin-right       : 1rem;
			background-size    : contain;
			background-repeat  : no-repeat;
			background-position: center;
			justify-content    : center;
			align-items        : center;
			width              : 5rem;
			height             : 5rem;
		}

		&.search {
			&::before {
				background-image: url(https://reno-copro.liege.be/professionnels/magnifying-glass-white.png/@@images/1291dc6d-8f15-4553-9c3f-f2e5d4eca489.png);
			}
		}

		&.register {
			&::before {
				background-image: url(https://reno-copro.liege.be/professionnels/writing-white.png/@@images/36ccc9ab-ca0d-420c-9147-ee3b523c894d.png);
			}
		}
	}
}

@media (max-width: 768px) {

	body.template-facetednavigation_view #faceted-top-column fieldset form,
	body.template-facetednavigation_view .eea-preview-items .faceted-casestudies a .items-content,
	body.template-facetednavigation_view .eea-preview-items .faceted-professional a .items-content {
		flex-direction: column;

		input[type="submit"] {
			margin: 0.5rem 0;
		}
	}

	.portaltype-professional .fancybox-container,
	.portaltype-professional .fancybox-container .fancybox-show-thumbs {
		display        : flex;
		flex-direction : column;
		justify-content: space-between;
		align-items    : center;

		.fancybox-inner {
			right         : 0;
			display       : flex;
			flex-direction: column;
			position      : relative;
			width         : 100%;
			height        : auto;
			flex          : 1;

			.fancybox-stage {
				.fancybox-slide {
					margin : 0;
					padding: 4.5rem 0.5rem 0.5rem 0.5rem;

					.fancybox-content {
						transform: none;
					}
				}
			}

			.fancybox-toolbar {
				opacity   : 1;
				visibility: visible;
			}

			.fancybox-caption {
				display: none;
			}
		}

		.fancybox-thumbs,
		.fullcaption {
			width     : 100%;
			min-height: auto;
			position  : relative;
			padding   : 0;
			height    : 70%;
			padding   : 1rem;
		}
	}
}