[class$="case_studies-tile"]{
	.flexslider-tile{
		ul.slides{
			li{
				.flex-caption{
					height: 100%;
					display: grid;
					grid-template-rows: auto;
					grid-template-columns: auto;
					.block{
						max-height: 5rem;
						width: 100%;
						background-color: @color-default;
						display: block;
						color: @color-light;
						padding: 0.5rem 1rem;
						grid-row: 1;
						grid-column: 1;
					}
					.content{
						grid-row: 2;
						grid-column: 1;
						padding: 0.5rem 1rem;
						font-family: 'Abel', sans-serif;
						.title{
							color: @color-default;
							font-family: Abel;
							padding: 1rem 0;
						}
						.type{
							color: @color-dark;
						}
						.renovation_year{
							color: @color-default2;
							font-size: 1.4rem;
							text-align: right;
						}
					}
				}
				.image-background + .flex-caption{
					grid-template-rows: 1fr 1fr;
					grid-template-columns: auto;
					.content{
						grid-row: 2;
						grid-column: 1;
					}
				}
			}
		}
	}
}
